body {
  margin: 0;
  padding: 0;
  background: url(assets/bg4.jpeg);
  background-size: 100%;
  font-family: sans-serif;
}
.loginimg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 0px;
  position: relative;
  left: calc(50% - 50px);
}

.loginbox {
  background: url(assets/bg4.png);
  color: #1e5128;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 30px;
  opacity: 0.7;
  max-width: 320px;
  max-height: 420px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  column-gap: 10px;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
  color: white;
}
.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
  align-items: center;
  border-radius: 20px;
}
.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: black;
}

a:hover {
  color: #2f8f9d;
}
#lo {
  color: #382933;
  text-align: center;
}
